.emails-input--error-message {
  font-size: 12px;
  font-weight: normal;
  opacity: 0;
  color: $font-error;
  margin: 2px 8px;

  &.emails-input--active {
    opacity: 100;
  }
}

.emails-input--error-container {
  display: flex;
  flex: 1;
  padding: 6px;
  margin: 0px 0px 16px;
  border-radius: 5px;
  border: 1px dashed transparent;

  &.emails-input--active {
    border-color: $font-error;
  }
}

.emails-input--textarea {
  width: 100%;
  height: 96px;
  background: $bg-secondary;
  border: 1px solid $border-primary;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.emails-input--pills-group {
  display: inline;
}

.emails-input--input {
  border: none;
  outline: none;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;

  &::placeholder {
    color: #c3c2cf;
  }
}

.emails-input--pill {
  display: inline;
  background-color: $bg-pill;
  border-radius: 100px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 30px;
  margin-right: 8px;

  img {
    margin-left: 8px;
    margin-bottom: 2px;
  }

  &.emails-input--invalid {
    background-color: initial;
    border-bottom: 1px dashed $font-error;
    border-radius: 0;
    padding-left: 0;
    padding-right: 4px;
    padding-bottom: 2px;
  }
}
