&--container {
  color: $font-primary;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  box-shadow: 0px 8px 20px $shadow;
  border-radius: 8px;
  overflow: hidden;
}

&--content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bg-primary;
  padding: 0 50px;

  h1 {
    margin: 32px 8px 0 8px;
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
  }
}

&--actions {
  background-color: $bg-secondary;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 58px 32px;
}
