$primary: #4262ff;
$font-primary: #050038;
$font-secondary: #ffffff;
$font-error: #c83a33;
$font-light: #c3c2cf;
$bg-primary: #f8f8f7;
$bg-secondary: #ffffff;
$bg-pill: rgba(102, 153, 255, 0.2);
$border-primary: #c3c2cf;
$shadow: rgba(0, 0, 0, 0.2);

.emails-input {
  color: $font-primary;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  box-shadow: 0px 8px 20px $shadow;
  border-radius: 8px;
  overflow: hidden;

  @import 'Button/Button.scss';
  @import 'PillsInput/PillsInput.scss';
  @import 'PillsInput/Pill/Pill.scss';
  @import 'PillsInput/Input/Input.scss';

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $bg-primary;
    padding: 0 50px;

    h1 {
      margin: 32px 8px 0 8px;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
    }
  }

  .actions {
    background-color: $bg-secondary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 58px 32px;
  }
}
